.background {
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../assets/hero.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}